<div class="card">
    <div class="card-body">
        <h1>About us!</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti molestiae ipsam debitis voluptatum. Voluptatibus, officiis cumque non impedit quasi nulla dignissimos inventore earum possimus natus laudantium voluptas. Iusto, error repellendus!</p>
    </div>
</div>